<img src="https://logos-download.com/wp-content/uploads/2016/10/Python_logo_wordmark-700x203.png"/>

> You can follow me in :
* [Linkedin](https://www.linkedin.com/in/sajjad-ranjbargolafshani-32a951211/). 
* [Instagram](https://www.instagram.com/sajjad.__.ranjbar/).
* [Github](https://github.com/sajjadranjbar73).

<img src='https://upload.wikimedia.org/wikipedia/en/thumb/c/cd/Anaconda_Logo.png/330px-Anaconda_Logo.png'>

# 1. Jupyter notebook

Based on Professionals in Data Science and Machine learning Field, I strongly recommend installing Python and Jupyter using the Anaconda Distribution too, which includes Python, the Jupyter Notebook, and other commonly used packages for scientific computing and data science.

* First, download Anaconda. Downloading Anaconda’s latest Python 3 version is recommended.

* Second, install the version of Anaconda which you downloaded, following the instructions on the download page.

Congratulations, you have installed Jupyter Notebook! 
To run the notebook, run the following command in Linux:

> jupyter notebook

<img src="https://camo.githubusercontent.com/e3737e210ded6e9b6b60719c456156f12ecb4e202e84b28e8295a5780040a508/687474703a2f2f73382e7069636f66696c652e636f6d2f66696c652f383333383232373836382f7061636b616765732e706e67" />

# 2. Machine Learning Workflow

There are different ways in Machine learning as follows:

* Define Problem
* Specify Inputs & Outputs
* Exploratory data analysis
* Data Collection
* Data Preprocessing
* Data Cleaning
* Visualization
* Model Design, Training, and Offline Evaluation
* Model Deployment, Online Evaluation, and Monitoring
* Model Maintenance, Diagnosis, and Retraining


<img src="https://camo.githubusercontent.com/6a19d19ffa69d5941183da1f0654db51182d73b79a448b1cdf1d6a7734a9232f/687474703a2f2f73392e7069636f66696c652e636f6d2f66696c652f383333383232373633342f776f726b666c6f772e706e67" />

# 3. Packages Used in Machine Learning 

Most of Articles and books listed these libraries in python:

* `Numpy` : 
NumPy is the fundamental package for scientific computing with Python.
* `Pandas` : 
pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.
* `Scipy`: 
SciPy (pronounced “Sigh Pie”) is a Python-based ecosystem of open-source software for mathematics, science, and engineering.
* `Matplotlib`: 
Matplotlib is a Python 2D plotting library which produces publication quality figures in a variety of hardcopy formats and interactive environments across platforms.
* `Seaborn`:
Seaborn is a Python data visualization library based on matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics.
* `Scikit learn`: 
Simple and efficient tools for data mining and data analysis and Machine learning.
* `Tensorflow`:
An open source machine learning and Deep learning framework for everyone made by Google.
* `Keras`: 
Keras is a high-level neural networks API, written in Python and capable of running on top of TensorFlow, CNTK, or Theano.
<img src='https://camo.githubusercontent.com/9cf244912130ce8b0ee4ce4d4366982572022046bb7ae68e762833064f7c8e58/687474703a2f2f73382e7069636f66696c652e636f6d2f66696c652f383333383232373733342f50726f626c656d446566696e6174696f6e2e706e67'>

# 4. Exploratory Data Analysis(EDA)

Exploratory data analysis (EDA) is an approach to analyzing data sets to summarize their main characteristics, often with visual methods. 

<img src='https://camo.githubusercontent.com/f47b95ea552b4cff689a98f50a5a7b6d93efecc4a80b2db018857e35271af2ea/687474703a2f2f73392e7069636f66696c652e636f6d2f66696c652f383333383437363133342f4544412e706e67'>

#  5. Let's Make our hands dirty with some python

### Let's play a game!

The scenario is: The player should guess a number, and he/she should guess it right!

In [1]:
# guessing the number 42!
x = 50

# Introduction
print('=== WELCOME ===')

=== WELCOME ===

In [2]:
type(x)

int

In [3]:
x

50

In [4]:
print("The number in your mind is :", x)

The number in your mind is : 50

In [5]:
# get the guessed number
guessed = input('guess a number: ')

guess a number: 4

In [6]:
guessed

'4'

# TypeCasting

In [10]:
# check if the guess is right
print(int(guessed) == x)

False

In [11]:
type(x)

int

In [12]:
type(guessed)

str

<img src="https://www.labsolution.lu/thumbnails/38102-225-0-Max.png">

## 5.2. Variables, Data Structures

Variables could be of type `int, float, str, list, dict, ...`. (We will see `objects` later)

In [13]:
v_1 = -10.82
print(v_1, ',',type(v_1))

-10.82 , <class 'float'>

In [14]:
# === integers and floats (and complex numbers) ===


v_2 = int(v_1)
print(v_2, ',',type(v_2))

v_3 = v_2**0.5
print(v_3, ',',type(v_3))

-10 , <class 'int'>
(1.9363366072701937e-16+3.1622776601683795j) , <class 'complex'>

## 5.3. Lists & tuples

* python is zero-indexed.
* tuples are just like lists... but immutable ones

In [15]:
type(v_1)

float

In [16]:
print(type(v_1))

<class 'float'>

In [17]:
v_1 = [0,1,2,3,4,5,6,7,8]
print(v_1, ' ',type(v_1))
# \n : Enter
# \t : Tab

[0, 1, 2, 3, 4, 5, 6, 7, 8]   <class 'list'>

In [18]:
# === lists & tuples ===

v_1 = [0,1,2,3,4,5,6,7,8]
print(v_1, '\n',type(v_1))

v_1[-1]

# index ranges are fun!
print(v_1[2:7])
print(v_1[:100])
print(v_1[1:6:2])
# tuples are just like lists... but immutable ones
v_1 = [1,2,3]
v_2 = (1,2,3)
print(type(v_2))

v_1[0] = 10
print(v_1)
v_2[0] = 10

[0, 1, 2, 3, 4, 5, 6, 7, 8]
 <class 'list'>
[2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[1, 3, 5]
<class 'tuple'>
[10, 2, 3]

TypeError: ignored

In [ ]:
v_1 = [1,'X',3]
print("V_1:",type(v_1))
v_2 = ('soheil',2,3)
print("V_2:",type(v_2))

V_1: <class 'list'>
V_2: <class 'tuple'>

In [ ]:
v_2[0] = 10
print(v_2)

TypeError: 'tuple' object does not support item assignment

## 5.4. Strings

In [ ]:
# === Strings ===
v_1 = 'This is a long string variable\nbut not long enough'
print(v_1, ',',type(v_1))

# indexing in strings are just like lists
print(v_1[1:-1])

x = " he said :\"I'm fine\""
print(x)

This is a long string variable
but not long enough , <class 'str'>
his is a long string variable
but not long enoug
 he said :"I'm fine"

In [ ]:
v_1[0:1]

'T'

**Mini-puzzle:** How to reverse a word in a string?

Python ---> nohtyP

In [ ]:
word = input ('enter a word:')   
print (word[-1:-len(word):-1])

enter a word:Python
nohty

In [ ]:
len(word)

6

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Jigsaw.svg/330px-Jigsaw.svg.png">

In [ ]:
c = input ('enter:')

enter:l

In [ ]:
c

'Ali Saee'

In [ ]:
c[::-1]

'eeaS ilA'

In [ ]:
word = input ('enter a word:')

enter a word:Python

Python

In [ ]:
word[0]

'P'

In [ ]:
reversed_word = word[::-1]
print(reversed_word)

nohtyP

## 5.5. Dictionaries

In [ ]:
# === Dictionaries ===
v_1 = {'name': 'Ali', 'age': 60}
print(v_1, ',',type(v_1))

# indexing dicts
print(v_1['name'])
print(v_1['age'] == 60)

{'name': 'Ali', 'age': 60} , <class 'dict'>
Ali
True

## 5.6. Booleans

In [ ]:
# booleans
v_1 = 1 is 2
print(v_1, ',',type(v_1))

# every var-type has a boolean representation
print(bool(1))
print(bool(0))
print(bool([1,2,3]))
print(bool({}))

False , <class 'bool'>
True
False
True
False

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-96-959ab1cd9514>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  v_1 = 1 is 2

##  5.7.OPERATORS

- math operators are: `+, -, *, /, **, //, %` and all plus a `=`

In [ ]:
type(list_1[3][2])

tuple

In [ ]:
int_1 = 3
float_1 = 10.75
str_1 = 'aStringOperator'
list_1 = ['x', 2, 'd', [1, 2, ('x', 'y')]]
dict_1 = {'a': [1,2,3], 'b': {'x':0}}
bool_1 = True

print('1: ', int_1 + float_1)
print('2: ', str_1 * int_1)
print('3: ', list_1 + list_1)
print('4: ', list_1*2)
print('5-1: ', int_1/2)
print('5-2: ', int_1//2)
print('5-3: ', int_1%2)

int_1 += float_1# int_1=int_1 + folat_1
print('6: ', int_1)

bool_1 &= False
print('7: ', bool_1)

bool_1 |= True
print('7: ', bool_1)

1:  13.75
2:  aStringOperatoraStringOperatoraStringOperator
3:  ['x', 2, 'd', [1, 2, ('x', 'y')], 'x', 2, 'd', [1, 2, ('x', 'y')]]
4:  ['x', 2, 'd', [1, 2, ('x', 'y')], 'x', 2, 'd', [1, 2, ('x', 'y')]]
5-1:  1.5
5-2:  1
5-3:  1
6:  13.75
7:  False
7:  True

- logical operators are: `==, !=, in, is, not, is not, <, >, <=, >=, and, or`

In [ ]:
print('1: ', 1 == True)
print('2: ', 1 is True)
print('3: ', ['x'] in ['y', 'x', ['x']])
print('4: ', True or False is not False)

In [ ]:
True or False is not False

True

---
---

## 5.8. Loops & Conditionals

### Loops

We can go forward until we're told to stop, or we can go for `n` specific steps:

In [ ]:
x = 'Soheil Tehranipour'
age = 32

In [ ]:
print('My name is :{}'.format(x),"and I am :{}".format(age))

My name is :Soheil Tehranipour and I am :32

In [ ]:
print('My name is :',x)

My name is : Soheil Tehranipour

In [ ]:
i = 0
while i < 4:
    print('i is {}'.format(i))
    i += 1

i is 0
i is 1
i is 2
i is 3

In [ ]:
# Go for n steps
for j in range(5):
    print("soheil")
print('j is {}'.format(j))

soheil
soheil
soheil
soheil
soheil
j is 4

### A tricky python code

`Comprehensions` can be used as a compact form of `if` statement, when `if` is used to create a `list` or `tuple` or `dictionary` from an iterable

In [ ]:
list_1 = []
for i in range(4):
    list_1.append(i**2)

In [ ]:
list_1

[0, 1, 4, 9]

In [ ]:
list_2 = [i**2 for i in range(4)]

In [ ]:
list_2

[0, 1, 4, 9]

In [ ]:
list_1 = []
for i in range(4):
    list_1.append(i**2)

list_2 = [i**2 for i in range(4)]

print(list_1 == list_2)
print(list_1)

dict_1 = {str(i):i for i in range(5)}
print(dict_1)

True
[0, 1, 4, 9]
{'0': 0, '1': 1, '2': 2, '3': 3, '4': 4}

In [ ]:
list_2

### Conditionals

There is only `if,elif,else` in python, there is no `switch, case` statement.

In [ ]:
number = int(input('enter a number: '))
if number % 3 == 0:
    print('the number {} is divisible by 3'.format(number))
elif number % 2 == 0:
    print('the number {} is even'.format(number))
else:
    print('the number {} is divisible by neither 2 nor 3'.format(number))

enter a number: 14
the number 14 is even

# 6. Fucntion, Class and `pip`

Modular Programming means:

- Several smaller problems vs. A big problem
- Nested vs. Flat
- Flexibility, gradual code development

Let's start from the beginning:


## 6.1.Functions

Functions are the heart of the modular programming. Each function has multiple inputs, and a single output:

In [ ]:
def word_reverse(k):
    word = k.lower()
    print(word)
    return word[::-1]

In [ ]:
word_reverse('SamPLe')

sample

'elpmas'

In [ ]:
# define a function to get user input and turn into int
def get_input(msg):
    number = float(input(msg))
    return number

# to calculate x**2 + 1
def math_func(x):
    return x**2 + 1

In [ ]:
# write a script that gets user input and calc math_func
number = get_input('لطفا عدد وارد کنید')

لطفا عدد وارد کنید4

In [ ]:
print(math_func(number))

17.0

### Python functions are amazing!

Let's see two interesting characterstics of functions:

In [ ]:
# take functions as arguments
def sum_(x,y):
    return x+y

def printer(operator, x, y):
    return operator(x, y)

print(printer(sum_, 3, 6))

9

In [ ]:
# functions could be called recursively
def fibo(x):
    if x <= 1:
        return x
    else:
        return fibo(x-1) + fibo(x-2)

# print first n fibo numbers
print('=== Fibo ===')
for i in range(1,20):
    print(fibo(i))

=== Fibo ===
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181